.hero {
  @media screen and (max-width: 990px) {
    height: 100dvh;
    margin-bottom: 54dvh;
  }

  &__content {
    position: fixed;
    z-index: 3;
    width: 100vw;
    font-size: 5vw;

    @media screen and (max-width: 990px) {
      font-size: 3rem;
    }

    &__title {
      margin-top: 48px;
      color: #f7f7f7;
      opacity: 0.8;
      font-weight: 800;
      text-align: center;
    }
  }

  &__productAnimation {
    pointer-events: none;
    position: fixed;
    top: -60px;
    left: -3px;
    @media screen and (max-width: 990px) {
      position: absolute;
      height: 100dvh;
      width: 100dvw;
    }

    img {
      width: 100vw;
      position: absolute;
      @media screen and (max-width: 990px) {
        bottom: 0;
      }
      z-index: 2;

      &:nth-child(2){
        z-index: 3;
      }
    }

    img.hero__productAnimation__background {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  &__videoOnScroll {
    opacity: 0;
  }

  .character {
    display: inline-block;
    transform: translateY(0);
  }
}