.doubleImage{
  display: flex;
  justify-content: space-between;
  margin-top: 30vh;
  @media screen and (max-width: 990px) {
    flex-direction: column;
    margin-top: 64px;
  }

  &__wrapper{
    overflow: hidden;
    &:nth-child(1){
      width: 42.6vw;
      height: 110vh;
      @media screen and (max-width: 990px) {
        width: 90vw;
        height: 50vh;
        margin-bottom: 48px;
      }
    }
    &:nth-child(2){
      width: 23.5vw;
      height: 50vh;
      @media screen and (max-width: 990px) {
        width: 70vw;
        height: 35vh;
        margin-left: 20vw;
      }
    }
  }

  &__image{
    width: 100%;
    height: 130%;
    object-fit: cover;
  }
}